@import '../../../../scss/fonts','../../../../scss/colors.scss';

.contact_c_c {
    padding: 0px 30px 70px 30px;
    position: relative;
    z-index: 1;

    .title_contact {
        text-align: center;
        color: $color_2;
        font-family: $font_1;
        font-weight: 400;
    }

    .map_c {
        border: 2px solid $color_1;
        border-radius: 10px;
        padding: 15px;
        height: 450px;
        margin-top: 30px;

        iframe {
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }
    }

    .data_c {
        margin-top: 30px;

        .title_data {
            text-align: center;
            color: $color_2;
            font-family: $font_1;
            font-weight: 400;
        }

        .descrp_data {
            text-align: center;
            font-family: $font_4;
            color: $color_3;
            margin-top: 20px;
            line-height: 25px;
        }

        .information {
            background-color: #131313;
            border-radius: 10px;
            padding: 20px;
            display: grid;
            gap: 15px;
            margin-top: 30px;

            .section_title {
                font-family: $font_1;
                color: $color_2;
                font-weight: 400;
            }

            .line_inf {
                display: flex;
                justify-content: space-between;

                span {
                    &:nth-child(1) {
                        font-family: $font_4;
                        color: $color_3;
                        font-size: 14px;
                    }

                    &:nth-child(2) {
                        font-family: $font_4;
                        color: $color_1;
                        font-size: 14px;
                    }
                }
            }

            .district {
                font-size: 18px;
                font-weight: 600;
                color: $color_3;
                font-family: $font_4;
            }

            .street {
                font-size: 14px;
                color: $color_3;
                font-family: $font_4;
                display: block;
            }
        }

        .form {
            margin-top: 30px;
            display: grid;
            gap: 5px;

            .input_c {
                height: 75px;

                input {
                    border: 2px solid $color_3;
                    border-radius: 10px;
                    height: 45px;
                    width: 100%;
                    background-color: transparent;
                    outline: none;
                    padding: 0px 20px;
                    color: $color_3;
                    transition: border .3s ease;
    
                    &::placeholder {
                        color: $color_3;
                    }
                }

                input.error {
                    border: 2px solid red;
                }

                .message_error {
                    color: red;
                    font-family: $font_4;
                    margin-top: 10px;
                    opacity: 0;
                    transition: opacity .3s ease,visibility .3s ease;
                }

                .message_error.visible {
                    opacity: 1;
                    visibility: visible;
                }
            }

            .textarea_c {
                height: 280px;

                textarea {
                    width: 100%;
                    border: 2px solid $color_3;
                    border-radius: 10px;
                    background-color: transparent;
                    outline: none;
                    padding: 20px;
                    color: $color_3;
                    height: 250px;
                    font-family: $font_4;
                    transition: border .3s ease;

                    &::placeholder {
                        color: $color_3;
                    }
                }

                textarea.error {
                    border: 2px solid red;
                }

                .message_error {
                    color: red;
                    font-family: $font_4;
                    margin-top: 10px;
                    opacity: 0;
                    visibility: hidden;
                    transition: opacity .3s ease;
                }

                .message_error.visible {
                    opacity: 1;
                    visibility: visible;
                }
            }

            
            .btn_send {
                height: 45px;
                background-color: $color_2;
                color: $color_4;
                font-family: $font_4;
                border-radius: 10px;
                outline: none;
                border: none;
                margin-top: 5px;
            }
        }
    }
}

@media (min-width:768px) {
    .contact_c_c {
        padding: 0px 100px 70px 100px;

        .title_contact {
            font-size: 3rem;
        }

        .data_c {
            .title_data {
                font-size: 2.5rem;
            }

            .descrp_data {
                font-size: 1.2rem;
                line-height: 1.7rem;
            }

            .information {
                width: 450px;
                margin: 30px auto 0px auto;

                .section_title {
                    font-size: 1.8rem;
                }

                .line_inf {
                    span {
                        &:nth-child(1) {
                            font-size: 1.2rem;
                        }

                        &:nth-child(2) {
                            font-size: 1.2rem;
                        }
                    }
                }

                .district {
                    font-size: 1.2rem;
                }

                .street {
                    font-size: 1.2rem;
                }
            }

            .form {
                width: 450px;
                margin: 40px auto 0px auto;

                .input_c {
                    input {
                        font-size: 1rem;
                    }
                }

                .textarea_c {
                    textarea {
                        font-size: 1.2rem;
                    }
                }

                .btn_send  {
                    font-size: 1.2rem;
                }
            }
            
        }
    }
}