@import '../../../../scss/fonts','../../../../scss/colors.scss';

.banner_c_c {
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .35);
    }

    .header {
        color: #ffffff;
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;
        z-index: 2;
        transition: all .3s ease;

        .logo {
            font-family: $font_2;
            color: $color_1;
            cursor: pointer;
        }

        .button_menu {
            width: 30px;
            height: 30px;
            outline: none;
            border: none;
            background-color: transparent;

            svg {
                fill: $color_3;
                transition: fill .3s ease;
            }
        }

        .menu {
            position: fixed;
            left: 0;
            top: 0;
            background-color: $color_3;
            color: $color_4;
            width: 60%;
            max-width: 250px;
            height: 100vh;
            padding: 30px;
            list-style: none;
            z-index: 1;
            transform: translateX(-100%);
            transition: transform .3s ease;

            .header_menu {
                font-family: $font_2;
                color: $color_1;
                margin-bottom: 30px;
                font-size: 2.5rem;
            }

            .menu_item {
                padding: 10px 0px;
                font-family: $font_4;
                cursor: pointer;
            }
        }

        .menu.open {
            transform: translateX(0%);
        }
    }

    .header.down {
        top: 0;
        background-color: $color_3;
        box-shadow: 0px 2px 20px 3px rgba(0, 0, 0, .3);
        transition: all .3s ease;

        .button_menu {
            svg {
                fill: $color_4;
            }
        }
    }

    .banner_content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: $color_3;
        width: 70%;
        display: grid;
        gap: 20px;

        .title_banner {
            font-family: $font_3;
            font-weight: 500;
            text-align: center;
            font-size: 3rem;
        }

        .description_banner {
            font-family: $font_4;
            text-align: center;
            line-height: 1.3rem;
        }

        .button_banner {
            border: 2px solid $color_2;
            border-radius: 10px;
            width: 120px;
            height: 35px;
            justify-self: center;
            font-size: .8rem;
            color: $color_2;
            background-color: transparent;
            font-family: $font_1;
            outline: none;
            transition: background-color .3s ease, color .3s ease;

            &:hover {
                background-color: $color_2;
                color: $color_3;
                
            }
        }
    }
}

@media (min-width:768px) {
    .banner_c_c {
        .header {
            padding: 10px 100px;

            .logo {
                font-size: 2.7rem;
            }

            .button_menu {
                width: 40px;
            }

            .menu {
                .header_menu {
                    font-size: 2.7rem;
                }

                .menu_item {
                    font-size: 1.2rem;
                    padding: 15px 0px;
                }
            }
        }

        .banner_content {
            gap: 30px;

            .title_banner {
                font-size: 4rem;
            }

            .description_banner {
                font-size: 1.2rem;
                line-height: 1.7rem;
            }

            .button_banner {
                width: 200px;
                height: 40px;
                font-size: 1rem;
            }
        }
    }
}

@media (min-width:1024px) {
    .banner_c_c {
        .header {
            padding: 0px 15%;
            position: fixed;
            top: 30px;
            left: 0;
            width: 100%;

            .menu {
                position: initial;
                background-color: transparent;
                max-width: unset;
                height: unset;
                padding: 0;
                transform: translateX(0%);
                display: flex;
                min-width: 400px;
                width: 40%;
                justify-content: space-between;

                .header_menu {
                    display: none;
                }

                .menu_item {
                    color: $color_3;
                    padding: 5px 15px;
                    font-size: 1rem;
                }
            }

            .button_menu {
                display: none;
            }
        }

        .header.down {
            padding: 15px 15%;
            .menu {
                .menu_item {
                    color: $color_4;
                }
            }
        }

        .banner_content {
            gap: 45px;

            .title_banner {
                font-size: 4rem;
            }

            .description_banner {
                font-size: 1.4rem;
                line-height: 40px;
            }

            .button_banner {
                margin-top: 15px;
                cursor: pointer;
            }
        }
    }
}

@media (min-width:1330px) {
    
        .banner_c_c {
            .header {
                padding: 30px 15%;
            }
            .banner_content {
                .description_banner {
                    width: 900px;
                    margin: auto;
                }
            }
        }
    
}