@import '../../../../scss/fonts','../../../../scss/colors.scss';

.banner_c_c {
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .35);
    }

    .header {
        color: #ffffff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;
        position: relative;

        .logo {
            font-family: $font_2;
            color: $color_1;
        }

        .button_menu {
            width: 30px;
            height: 30px;
            outline: none;
            border: none;
            background-color: transparent;

            svg {
                fill: $color_3;
            }
        }

        .menu {
            position: fixed;
            left: 0;
            top: 0;
            background-color: $color_3;
            color: $color_4;
            width: 60%;
            max-width: 250px;
            height: 100vh;
            padding: 30px;
            list-style: none;
            z-index: 1;
            transform: translateX(-100%);
            transition: transform .3s ease;

            .header_menu {
                font-family: $font_2;
                color: $color_1;
                margin-bottom: 30px;
                font-size: 2.5rem;
            }

            .menu_item {
                padding: 10px 0px;
                font-family: $font_4;
                cursor: pointer;
            }
        }

        .menu.open {
            transform: translateX(0%);
        }
    }

    .banner_content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: $color_3;
        width: 70%;
        display: grid;
        gap: 20px;

        .title_banner {
            font-family: $font_3;
            font-weight: 500;
            text-align: center;
            font-size: 3rem;
        }

        .description_banner {
            font-family: $font_4;
            text-align: center;
            line-height: 1.3rem;
        }

        .button_banner {
            border: 2px solid $color_2;
            border-radius: 10px;
            width: 120px;
            height: 35px;
            justify-self: center;
            font-size: .8rem;
            color: $color_2;
            background-color: transparent;
            font-family: $font_1;
            outline: none;
        }
    }
}

@media (min-width:768px) {
    .banner_c_c {
        .header {
            padding: 30px 100px;

            .logo {
                font-size: 2.7rem;
            }

            .button_menu {
                width: 40px;
            }

            .menu {
                .header_menu {
                    font-size: 2.7rem;
                }

                .menu_item {
                    font-size: 1.2rem;
                    padding: 15px 0px;
                }
            }
        }

        .banner_content {
            gap: 30px;

            .title_banner {
                font-size: 4rem;
            }

            .description_banner {
                font-size: 1.2rem;
                line-height: 1.7rem;
            }

            .button_banner {
                width: 200px;
                height: 40px;
                font-size: 1rem;
            }
        }
    }
}