@import '../../../../scss/fonts','../../../../scss/colors.scss';

.menu_c_c {
    padding: 70px 30px 0px 30px;
    position: relative;
    z-index: 1;

    .title_menu {
        text-align: center;
        color: $color_2;
        font-size: 2.2rem;
        font-family: $font_1;
        font-weight: 400;
    }

    .cards_c {
        display: grid;
        gap: 35px;
        margin: 50px auto 0px auto;
        width: 300px;

        .card {
            display: grid;
            justify-items: center;
            gap: 10px;

            .title_card {
                color: $color_2;
                font-family: $font_1;
                font-weight: 400;
                font-size: 1.7rem;
            }

            .descr_card {
                color: $color_3;
                text-align: center;
                font-family: $font_4;
                line-height: 25px;
                font-size: 1rem;
            }
        }
    }

    .btn_load_more {
        display: block;
        width: 180px;
        height: 35px;
        border-radius: 10px;
        margin: auto;
        margin-top: 30px;
        outline: none;
        border: 2px solid $color_2;
        background-color: transparent;
        color: $color_2;
        font-family: $font_1;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
        cursor: pointer;
        transition: background-color .3s ease, color .3s ease;

            &:hover {
                background-color: $color_2;
                color: $color_3;
                
            }
    }
}

@media (min-width:712px) {
    .menu_c_c {
        .cards_c {
            width: unset;
            grid-template-columns: 1fr 1fr;
        }
    }
} 

@media (min-width:768px) {
        .menu_c_c {
            .title_menu {
                font-size: 3rem;
            }

            .cards_c {
                gap: 30px;

                .card {

                    .title_card {
                        font-size: 2rem;
                    }

                    .descr_card {
                        font-size: 1.2rem;
                        line-height: 1.7rem;
                    }
                }
            }

        .btn_load_more {
            width: 200px;
            height: 45px;
            font-size: 1rem;
        }
    }
}

@media (min-width:1024px) {
    .menu_c_c {
        width: 85%;
        margin: auto;
    }
} 
@media (min-width:1290px) {
    .menu_c_c {
        width: 85%;
        margin: auto;
        padding: 120px 0px 0px 0px;

        .cards_c {
            grid-template-columns: 1fr 1fr 1fr;

            .card {
                &:nth-child(4) {
                    grid-column: 2 /  3;
                }
            }
        }
    }
} 

@media (min-width:1680px) {
    .menu_c_c {
        .cards_c  {
            max-width: 1420px;
        }
    }
}