@import '../../../../scss/fonts','../../../../scss/colors.scss';

.menu_c_c {
    padding: 70px 30px;
    position: relative;
    z-index: 1;

    .title_menu {
        text-align: center;
        color: $color_2;
        font-size: 2.2rem;
        font-family: $font_1;
        font-weight: 400;
    }

    .cards_c {
        display: grid;
        gap: 35px;
        margin-top: 50px;

        .card {
            display: grid;
            justify-items: center;
            gap: 10px;

            .title_card {
                color: $color_2;
                font-family: $font_1;
                font-weight: 400;
                font-size: 1.7rem;
            }

            .descr_card {
                color: $color_3;
                text-align: center;
                font-family: $font_4;
                line-height: 25px;
                font-size: 1rem;
            }
        }
    }

    .btn_load_more {
        display: block;
        width: 180px;
        height: 35px;
        border-radius: 10px;
        margin: auto;
        margin-top: 30px;
        outline: none;
        border: 2px solid $color_2;
        background-color: transparent;
        color: $color_2;
        font-family: $font_1;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
    }
}

@media (min-width:768px) {
        .menu_c_c {

            .title_menu {
                font-size: 3rem;
            }

            .cards_c {
                width: 45%;
                gap: 30px;
                margin: 50px auto 0px auto;

            .card {

                .title_card {
                    font-size: 2rem;
                }

                .descr_card {
                    font-size: 1.2rem;
                    line-height: 1.7rem;
                }
            }
        }

        .btn_load_more {
            width: 200px;
            height: 45px;
            font-size: 1rem;
        }
    }
}